.articles-section {
  position: relative;
  margin-bottom: 15px;

  .container {
    .section-title {
      text-align: left;

      p {
        font-size: 20px;
      }

      h2 {
        display: flex;
      }
    }

    .browseteam {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 45%;
    }

    .article-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .guide-box {
        position: relative;
        width: 30%;
        margin-right: 2%;
        margin-bottom: 20px;
        transition: height 0.3s ease; // Smooth height transition

        &:hover {
          .article-pic {
            transform: scale(1.05);
          }
        }

        p {
          margin-top: 30px;
          margin-bottom: 30px;
          color: #535353;
        }

        h3 {
          font-family: "DM sans", sans-serif;
          font-weight: 600;
        }

        .article-pic-container {
          position: relative;

          .article-pic {
            overflow: hidden;
            width: 100%;
            max-width: 400px;
            height: auto;
            max-height: 240px;
            object-fit: cover;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }
          }

          .published-corner {
            position: absolute;
            top: 0;
            right: 1;
            margin-left: 10px;
            margin-top: 10px;
            background-color: #F0D082;
            color: black;
            padding: 15px;
            font-size: 15px;
            font-weight: 600;
            

            p {
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 50px;

      .dot {
        width: 10px;
        height: 10px;
        background-color: #9a9a9a;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #191919;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .container {
      .guide-box {
        width: 100%;
        margin-right: 0;
      }

      .carousel {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .browseteam {
        display: none;
      }
    }
  }
}