.brands {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 95px;
	margin-bottom: 100px;


	.photo {
		padding: 0px;
	}

	@media (max-width: 992px) {
		.photo {
			display: none;
		}
	}
}