.contact-form {
    margin-top: 100px;
    margin-bottom: 100px;
    
    .container {
        background-color: #F0EFE9;
        padding: 100px 50px 150px; 
		text-align: center;
		font-family: 'DN sans' sans-serif;
		font-weight: 400;
         

        .details {
            margin: 0 auto;

            input,
            textarea { 
                display: block;
                margin: 20px auto;
                padding: 15px 30px;
                width: 100%;
                border-radius: 30px; 
				border: none;
            }

            textarea {
                border-radius: 40px; 
                resize: none;
                margin-bottom: 40px;
            }

            button {
                width: 100%;
            }
        }
    }
}