.connect-section {
    background-color: #F0EFE9;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;

        .connect-links a {
            margin-right: 10px;
            padding-top: 15px;
            color: black;
            text-decoration: none;

            &:active {
                color: rgb(27, 146, 179);
            }
        }
    }

    .Connect {
        h1 {
            font-family: 'DM Sans, sans-serif';
            font-weight: 700;
            font-size: 76px;
        }

        p {
            color: #626262;
            font-size: 20px;
            padding-top: 35px;
            padding-bottom: 40px;
        }

        a {
            margin-right: 10px;
            padding-top: 15px;
        }
    }

    .Background-lines-right {
        position: absolute;
        right: 68%;
        top: 22%;
    }
}