@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
@import './assets/scss/sections/header';
@import './assets/scss/sections/Showcase';
@import './assets/scss/sections/Brands';
@import './assets/scss/sections/Features';
@import './assets/scss/sections/AboutCompany';
@import './assets/scss/sections/OurServices';
@import './assets/scss/sections/WhyUs';
@import './assets/scss/sections/ProjectCases';
@import './assets/scss/sections/testimonial';
@import './assets/scss/sections/ArticlesSection';
@import './assets/scss/sections/SignUpNews';
@import './assets/scss/sections/Footer';
@import './assets/scss/sections/Connect';
@import './assets/scss/sections/ContactBox';
@import './assets/scss/sections/Contactform';
@import './assets/scss/sections/LoginPopup';


html,body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

  .btn-learnmore {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    padding: 15px 100px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 25px;
    color: #191919;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-learnmore i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-learnmore:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
  }
  
  .btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    color: #191919;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-yellow i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-yellow:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
  }

  .btn-sub {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 25px;
    color: #191919;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-sub:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
  }
  
  .btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-black i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-black:hover {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    color: #191919;
  }
  
  .btn-blank {
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-blank i {
    margin-left: 8px;
    font-size: 0.9em;
  }
  .btn-blank:hover {
    background-color: #191919;
    border: 1px solid #191919;
    color: #F0EFE9;
  }
  
  @media (min-width: 1660px) {
    .feature-section.container {
      max-width: 1520px;
    }
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-title {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  @media (min-width: 768px) {
    .section-title {
      padding-top: 120px;
      padding-bottom: 90px;
    }
  }
  .section-title p {
    color: #F94D1c;
    margin-bottom: 10px;
  }
  .section-title h2 {
    color: #191919;
    font-family: "DM sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
  
  